#!/usr/bin/env xdg-open
[Desktop Entry]
Name=CLion
Comment=CLion
Type=Application
Exec=sh -c "/opt/clion/bin/clion.sh"
Icon=/opt/clion/bin/clion.png
StartupNotify=false
Terminal=false 
Encoding=UTF-8
Categories=14-development-tools;

