[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=cxoffice-1
NoDisplay=true
Icon=/opt/cxoffice/share/icons/48x48/tie.png
Name=CrossOver (Install)
Name[id]=CrossOver (Instalasi)
Name[ur]=CrossOver (انسٹال)
Name[de]=CrossOver (Installieren)
Name[pl]=CrossOver (Instaluj)
Name[hu]=CrossOver (Telepítés)
Name[cs]=CrossOver (Instalovat)
Name[ru]=CrossOver (Установщик)
Name[zh_CN]=CrossOver (安装(I))
Name[fi]=CrossOver (Asenna)
Name[ja]=CrossOver (インストール(I))
Name[pt]=CrossOver (Instalar)
Name[ro]=CrossOver (Instalează)
Name[es]=CrossOver (Instalar)
Name[zh_HK]=CrossOver (安裝(I))
Name[he]=CrossOver (התקן)
Name[hi]=क्रॉसओवर (एडिट)
Name[sv]=CrossOver (Installera)
Name[it]=CrossOver (Installa)
Name[nl]=CrossOver (Installeren)
Name[fr]=CrossOver (Installer)
Name[ko]=CrossOver (설치)
Name[vi]=CrossOver (Tải)
Name[da]=CrossOver (Installér)
Name[tr]=CrossOver (Yükle)
Name[pt_BR]=CrossOver (Instalar)
Name[uk]=CrossOver (Встановити)
Name[zh_TW]=CrossOver (安裝(I))
Name[sk]=CrossOver (Inštalovať)
Name[lt]=CrossOver (Diegti)
Exec=/opt/cxoffice/support/desktopdata/cxoffice-1/cxassoc/Scripts/cxoffice-1:application_x-crossover-tie::install %u
Terminal=false
MimeType=application/x-crossover-tie;
InitialPreference=10
