[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=cxoffice-0
NoDisplay=true
Icon=/opt/cxoffice/share/icons/48x48/cxexe.png
Name=CrossOver (Run)
Name[id]=CrossOver (Jalankan)
Name[ur]=CrossOver (%رن)
Name[ht]=CrossOver (Kouri)
Name[de]=CrossOver (Ausführen)
Name[pl]=CrossOver (Uruchom)
Name[hu]=CrossOver (Futtatás)
Name[cs]=CrossOver (Spustit)
Name[ru]=CrossOver (Выполнить)
Name[zh_CN]=CrossOver (运行(R))
Name[fi]=CrossOver (Suorita)
Name[ja]=CrossOver (実行(R))
Name[pt]=CrossOver (Executar)
Name[ro]=CrossOver (Rulează)
Name[es]=CrossOver (Ejecutar)
Name[zh_HK]=CrossOver (執行(R))
Name[he]=CrossOver (הרץ)
Name[hi]=क्रॉसओवर (चलाना)
Name[sv]=CrossOver (Kör)
Name[it]=CrossOver (Esegui)
Name[nl]=CrossOver (Uitvoeren)
Name[fr]=CrossOver (Exécuter)
Name[ko]=CrossOver (실행)
Name[vi]=CrossOver (Chạy)
Name[el]=CrossOver (Εκτέλεση)
Name[da]=CrossOver (Kør)
Name[tr]=CrossOver (Çalıştır)
Name[pt_BR]=CrossOver (Executar)
Name[uk]=CrossOver (Виконати)
Name[bg]=CrossOver (Изпълнение)
Name[ca]=CrossOver (Executar)
Name[zh_TW]=CrossOver (執行(R))
Name[sk]=CrossOver (Spustiť)
Name[lt]=CrossOver (Vykdyti)
Exec=/opt/cxoffice/support/desktopdata/cxoffice-0/cxassoc/Scripts/cxoffice-0:application_x-crossover-exe::run %u
Terminal=false
MimeType=application/x-crossover-exe;application/x-ms-dos-executable;
InitialPreference=1
