[Desktop Entry]
Encoding=UTF-8
Type=Application
X-Created-By=cxoffice-0
NoDisplay=true
Icon=/opt/cxoffice/share/icons/48x48/cxarchive.png
Name=CrossOver (Restore)
Name[id]=CrossOver (Pulihkan)
Name[ur]=CrossOver (%ریسٹور)
Name[de]=CrossOver (Wiederherstellen)
Name[pl]=CrossOver (Przywróć)
Name[hu]=CrossOver (Visszaállítás)
Name[cs]=CrossOver (Obnovit)
Name[ru]=CrossOver (Восстановить)
Name[zh_CN]=CrossOver (还原(R))
Name[fi]=CrossOver (Palauta)
Name[ja]=CrossOver (復元(R))
Name[pt]=CrossOver (Restaurar)
Name[ro]=CrossOver (Restaurează)
Name[es]=CrossOver (Restaurar)
Name[zh_HK]=CrossOver (還原(R))
Name[he]=CrossOver (שחזר)
Name[hi]=क्रॉसओवर (लौटाना)
Name[sv]=CrossOver (Återställ)
Name[it]=CrossOver (Ripristina)
Name[nl]=CrossOver (Herstellen)
Name[fr]=CrossOver (Restaurer)
Name[ko]=CrossOver (복구)
Name[vi]=CrossOver (Khôi phục)
Name[el]=CrossOver (Επαναφορά)
Name[da]=CrossOver (Genskab)
Name[tr]=CrossOver (Eski haline getir)
Name[pt_BR]=CrossOver (Restaurar)
Name[uk]=CrossOver (Відновити)
Name[bg]=CrossOver (Възстановяване)
Name[ca]=CrossOver (Restaurar)
Name[zh_TW]=CrossOver (還原(R))
Name[sk]=CrossOver (Obnoviť)
Name[lt]=CrossOver (Atkurti)
Exec=/opt/cxoffice/support/desktopdata/cxoffice-0/cxassoc/Scripts/cxoffice-0:application_x-crossover-cxarchive::restore %u
Terminal=false
MimeType=application/x-crossover-cxarchive;
InitialPreference=10
