#!/usr/bin/env xdg-open
[Desktop Entry]
Name=dataspell
Comment=dataspell
Type=Application
Exec=sh -c "/opt/dataspell/bin/dataspell.sh"
Icon=/opt/dataspell/bin/dataspell.png
StartupNotify=false
Terminal=false 
Encoding=UTF-8
Categories=14-development-tools;

