[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=dbeaver-le
GenericName=Universal Database Manager
Comment=Universal Database Manager - Lite Edition.
Path=/usr/share/dbeaver-le/
Exec=/usr/share/dbeaver-le/dbeaver
Icon=/usr/share/dbeaver-le/dbeaver.png
Categories=IDE;Development
StartupWMClass=DBeaver Lite
StartupNotify=true
Keywords=Database;SQL;IDE;JDBC;ODBC;MySQL;PostgreSQL;Oracle;DB2;MariaDB
MimeType=application/sql
