[Desktop Entry]
Name=tcpreplay
Comment=Replay network traffic stored in pcap files
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "tcpreplay -h"
Icon=kali-tcpreplay
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Kali-Package=tcpreplay
