[Desktop Entry]
Name=sentrypeer
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sentrypeer -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=003-detect;
X-Kali-Package=sentrypeer
