[Desktop Entry]
Name=nipper
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "nipper --help"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=001-identify;
X-Kali-Package=nipper-ng
