[Desktop Entry]
Name=ftest
Comment=Firewall and IDS testing tool
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "ftest"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;
X-Kali-Package=ftester
