[Desktop Entry]
Name=ferret
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "ferret"
Icon=kali-ferret-sidejack
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=ferret-sidejack
