[Desktop Entry]
Name=mactime-sleuthkit
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "mactime"
Icon=kali-mactime
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;004-respond;
X-Kali-Package=sleuthkit
