[Desktop Entry]
Name=miredo
Comment=Teredo IPv6 tunneling for Unix
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "miredo -h"
Icon=kali-miredo
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Kali-Package=miredo
