[Desktop Entry]
Name=lbd
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "lbd"
Icon=kali-lbd
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;
X-Kali-Package=lbd
