[Desktop Entry]
Name=kismet
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "kismet -h"
Icon=kali-kismet
StartupNotify=false
Terminal=true
Type=Application
Categories=06-wireless-attacks;
X-Kali-Package=kismet
