[Desktop Entry]
Name=sqlninja
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sqlninja"
Icon=kali-sqlninja
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Kali-Package=sqlninja
