[Desktop Entry]
Name=arping
Comment=Sends arp and/or ip pings to a given host
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "arping --help"
Icon=kali-arping
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
X-Kali-Package=arping
