[Desktop Entry]
Name=scapy
Comment=Interactive packet manipulation tool
Encoding=UTF-8
Exec=scapy
Icon=kali-scapy
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=python3-scapy
