[Desktop Entry]
Name=dnsrecon
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "dnsrecon -h"
Icon=kali-dnsrecon
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Kali-Package=dnsrecon
