[Desktop Entry]
Name=nfc-list
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "nfc-list -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Kali-Package=libnfc-bin
