[Desktop Entry]
Name=foremost
Comment=Recover files using their headers, footers, and data structures
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "foremost -h"
Icon=kali-foremost
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;11-05-forensic-carving-tools;004-respond;
X-Kali-Package=foremost
