[Desktop Entry]
Name=undbx
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "undbx -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=11-03-digital-forensics;005-recover;
X-Kali-Package=undbx
