[Desktop Entry]
Name=sfuzz
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sfuzz -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
X-Kali-Package=sfuzz
