[Desktop Entry]
Name=gvm initial setup
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sudo gvm-setup"
Icon=kali-gvm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-vulnerability-analysis;001-identify;14-13-gvm-service;02-08-gvm;
X-Kali-Package=gvm
