[Desktop Entry]
Name=rifiuti2
Comment=MS Windows recycle bin analysis tool
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "rifiuti2 -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Kali-Package=rifiuti2
