[Desktop Entry]
Name=darkstat
Comment=Network statistics gatherer
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "darkstat"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;
X-Kali-Package=darkstat
