[Desktop Entry]
Name=ssldump
Comment=Dump SSL traffic on a network
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "ssldump -h"
Icon=kali-ssldump
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;
X-Kali-Package=ssldump
