[Desktop Entry]
Name=blkcalc
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "blkcalc"
Icon=kali-blkcalc
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Kali-Package=sleuthkit
