[Desktop Entry]
Name=copy-router-config
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "copy-router-config.pl"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=02-01-cisco-tools;06-01-cisco-attacks;
X-Kali-Package=copy-router-config
