[Desktop Entry]
Name=udptunnel
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "udptunnel -h"
Icon=kali-udptunnel
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Kali-Package=udptunnel
