[Desktop Entry]
Name=responder
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "responder -h"
Icon=kali-responder
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Kali-Package=responder
