[Desktop Entry]
Name=twofi
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "twofi -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
X-Kali-Package=twofi
