[Desktop Entry]
Name=jboss-autopwn-win
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "jboss-win"
Icon=kali-jboss-autopwn
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;03-05-web-vulnerability-scanners;
X-Kali-Package=jboss-autopwn
