[Desktop Entry]
Name=pipal
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "pipal -h"
Icon=kali-pipal
StartupNotify=false
Terminal=true
Type=Application
Categories=12-reporting;
X-Kali-Package=pipal
