[Desktop Entry]
Name=rebind
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "dns-rebind"
Icon=kali-rebind
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Kali-Package=rebind
