[Desktop Entry]
Name=sqlsus
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sqlsus -h"
Icon=kali-sqlsus
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Kali-Package=sqlsus
