[Desktop Entry]
Name=maryam
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "maryam -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=001-identify;
X-Kali-Package=maryam
