[Desktop Entry]
Name=scalpel
Comment=Recover files using a header/footer database
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "scalpel -h"
Icon=kali-scalpel
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Kali-Package=scalpel
