[Desktop Entry]
Name=ext4magic
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "ext4magic -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;005-recover;
X-Kali-Package=ext4magic
