[Desktop Entry]
Name=evilgrade
Encoding=UTF-8
Exec=evilgrade
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Kali-Package=isr-evilgrade
