[Desktop Entry]
Name=blkstat
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "blkstat"
Icon=kali-blkstat
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Kali-Package=sleuthkit
