[Desktop Entry]
Name=cutycapt
Comment=Utility to capture WebKit's rendering of a web page
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "cutycapt --help"
Icon=kali-cutycapt
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;12-reporting;
X-Kali-Package=cutycapt
