[Desktop Entry]
Name=radare2
Comment=Advanced commandline hexadecimal editor, disassembler and debugger
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "radare2 -h"
Icon=kali-radare2
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-Kali-Package=radare2
