[Desktop Entry]
Name=watobo
Encoding=UTF-8
Exec=watobo
Icon=kali-watobo
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;03-04-web-crawlers;
X-Kali-Package=watobo
