[Desktop Entry]
Name=asleap
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "asleap -h"
Icon=kali-asleap
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Kali-Package=asleap
