[Desktop Entry]
Name=sqlmap
Comment=Automatic SQL injection tool
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sqlmap --wizard"
Icon=kali-sqlmap
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;04-database-assessment;08-exploitation-tools;
X-Kali-Package=sqlmap
