[Desktop Entry]
Name=ifind
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "ifind"
Icon=kali-ifind
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Kali-Package=sleuthkit
