[Desktop Entry]
Name=sslyze
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sslyze -h"
Icon=kali-sslyze
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;
X-Kali-Package=sslyze
