[Desktop Entry]
Name=truecrack
Comment=Brute-force password cracker for TrueCrypt (Copyright) volumes.
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "truecrack -h"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Kali-Package=truecrack
