[Desktop Entry]
Name=pdfid
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "pdfid -h"
Icon=kali-pdfid
StartupNotify=false
Terminal=true
Type=Application
Categories=11-11-pdf-forensics-tools;
X-Kali-Package=pdfid
