[Desktop Entry]
Name=img_cat
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "img_cat"
Icon=kali-img_cat
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Kali-Package=sleuthkit
