[Desktop Entry]
Name=mmstat
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "mmstat"
Icon=kali-mmstat
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Kali-Package=sleuthkit
