[Desktop Entry]
Name=commix
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "commix --wizard"
Icon=kali-commix
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;
X-Kali-Package=commix
