[Desktop Entry]
Name=rcracki_mt
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "rcracki_mt"
Icon=kali-rcracki-mt
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;05-password-attacks;
X-Kali-Package=rcracki-mt
