[Desktop Entry]
Name=netdiscover
Comment=Active/passive ARP reconnaissance tool
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "netdiscover -h"
Icon=kali-netdiscover
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;01-08-route-analysis;
X-Kali-Package=netdiscover
