[Desktop Entry]
Name=regripper
Encoding=UTF-8
# Execute in terminal to show message from kali-winexec in case i386 architecture is missing
Exec=/usr/share/kali-menu/exec-in-shell regripper
Icon=kali-menu
StartupNotify=false
# Run kali-winexec in terminal
Terminal=true
Type=Application
Categories=11-04-forensic-analysis-tools;
X-Kali-Package=regripper
