[Desktop Entry]
Name=rifiuti
Comment=Tool to extract information from MS recycle bins info2 files.
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "rifiuti"
Icon=kali-menu
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Kali-Package=rifiuti
