[Desktop Entry]
Encoding=UTF-8
Comment=NoMachine video
Exec="/usr/NX/bin/nxplayer" --recording
Icon=NoMachine-video
Name=NoMachine
Type=Application
MimeType=application/nx-video;
NoDisplay=true
