[Desktop Entry]
Encoding=UTF-8
Comment=NoMachine Service
Exec=/usr/NX/bin/nxplayer --dialog status
Icon=NoMachine-icon
Name=NoMachine Service
StartupWMClass=nxplayer.bin
Type=Application
Categories=Network;
OnlyShowIn=Unity;
