[Desktop Entry]
Version=1.0
Terminal=false
Icon=bitmap2component
Keywords=Bitmap;Converter;
Type=Application
Categories=Science;Electronics;
Exec=bitmap2component %f
StartupWMClass=bitmap2component
Name[cs]=KiCad převod obrázků
Name[de]=KiCad Bildumwandler
Name[el]=Μετατροπέας Εικόνας Kicad
Name[en]=KiCad Image Converter
Name[es]=Conversor de imágenes de KiCad
Name[es_MX]=Conversor de imágenes de KiCad
Name[fi]=KiCad Kuvamuokkain
Name[fr]=Convertisseur d'Image KiCad
Name[id]=Konverter Gambar KiCad
Name[it]=Convertitore immagini KiCad
Name[ja]=KiCad イメージ コンバーター
Name[ko]=KiCad 이미지 변환기
Name[nl]=KiCad image converter
Name[pl]=Konwerter obrazów programu KiCad
Name[pt]=Conversor de imagens do KiCad
Name[pt_br]=Conversor de imagens do KiCad
Name[ru]=Преобразователь изображений KiCad
Name[sv]=KiCad bildkonverterare
Name[th]=โปรแกรมแปลงรูปภาพ KiCad
Name[tr]=KiCad Görüntü Dönüştürücüsü
Name[uk]=Перетворення зображень KiCad
Name[zh_CN]=KiCad 图片转换器
Name[zh_TW]=KiCad 圖片轉換器
Name=KiCad Image Converter
GenericName[bg]=Конвертор Bitmap-компонент
GenericName[ca]=Mapa de bits per al convertidor de components
GenericName[cs]=Konvertor bitmapy na součástky
GenericName[da]=Bitmap til komponentkonverter
GenericName[de]=Bitmap-zu-Bauteil-Umwandlung
GenericName[el]=Μετατροπή Εξαρτήματος σε Component
GenericName[en]=Bitmap to Component Converter
GenericName[es]=Conversor de mapas de bits en componentes
GenericName[es_MX]=Conversor de mapas de bits en componentes
GenericName[fi]=Luo komponentti kuvasta
GenericName[fr]=Convertisseur Bitmap en Composant
GenericName[it]=Convertitore da Bitmap a componente
GenericName[ja]=ビットマップ - コンポーネント変換
GenericName[ko]=비트맵을 부품으로 변환
GenericName[lt]=Bitų žemėlapis į komponentų keitiklį
GenericName[nl]=Bitmap naar Component Converter
GenericName[no]=Bitmap to Component Converter
GenericName[pl]=Konwerter map bitowych na symbole
GenericName[pt]=Conversor de Bitmap para Componente
GenericName[pt_br]=Conversor de bitmap para componente
GenericName[ro]=Convertor Bitmap în Componentă
GenericName[ru]=Конвертер растрового изображения в компонент
GenericName[sk]=Konvertor bitovej mapy na súčiastku
GenericName[sv]=Bitmapp till Komponent-konverterare
GenericName[th]=ผู้เปลี่ยนบิทแมบเป็นอุปกรณ์
GenericName[tr]=Bitmap/Bileşen Dönüştürücü
GenericName[uk]=Перетворення растрових зображень у компонент
GenericName[vi]=Bộ chuyển đổi Bitmap thành linh kiện
GenericName[zh_CN]=将位图转换成元件
GenericName[zh_TW]=將點陣圖轉換成元件
GenericName=Bitmap to Component Converter
Comment[cs]=Vytvořit komponentu z bitmapy pro použití s KiCadem
Comment[de]=Ein Bauteil aus einer Bitmap-Grafik erstellen, um diese mit KiCad zu verwenden
Comment[el]=Δημιουργία εξαρτήματος από bitmap για χρήση στο KiCad
Comment[en]=Create a component from a bitmap for use with KiCad
Comment[es]=Crear un componente desde un mapa de bits para utilizarlo con KiCad
Comment[es_MX]=Crear un componente desde un mapa de bits para utilizarlo con KiCad
Comment[fi]=Luo komponentti bittikartasta käytettäväksi KiCadin kanssa
Comment[fr]=Créer un composant à partir d’une image bitmap pour une utilisation avec KiCad
Comment[id]=Buat komponen dari bitmap untuk digunakan KiCad
Comment[it]=Crea un componente da una bitmap per l'uso con KiCad
Comment[ja]=bitmap から KiCad 用コンポーネントを作成
Comment[ko]=비트맵으로부터 KiCad용 부품 생성
Comment[nl]=KiCad component aanmaken vanaf een bitmap
Comment[pl]=Tworzy komponent z mapy bitowej by można go było użyć w programie KiCad
Comment[pt]=Crie um componente a partir de um bitmap para usar com o KiCad
Comment[pt_br]=Crie um componente a partir de um bitmap para usar com o KiCad
Comment[ru]=Создание компонентов KiCad из растровых изображений
Comment[sv]=Skapa en komponent från en bitmap-bild för användning med KiCad
Comment[th]=สร้างอุปกรณ์ขึ้นมาจากบิทแมปสำหรับใช้งานใน KiCad
Comment[tr]=KiCad ile kullanmak için bir bitmap'ten bir bileşen oluşturun
Comment[uk]=Створіть компонент із растрового зображення для використання в KiCad
Comment[zh_CN]=从位图创建用于 KiCad 的元件
Comment[zh_TW]=從點陣圖建立用於 KiCad 的元件
Comment=Create a component from a bitmap for use with KiCad
X-AppStream-Ignore=true
