[Desktop Entry]
Version=1.0
Terminal=false
Icon=pcbcalculator
Type=Application
Categories=Science;Electronics;
Exec=pcb_calculator
StartupWMClass=pcb_calculator
Name[cs]=KiCad DPS kalkulátor
Name[de]=KiCad PCB-Rechner
Name[el]=Εκτέλεση PCB Calculator
Name[en]=KiCad PCB Calculator
Name[es]=Calculadora de placas de KiCad
Name[es_MX]=Calculadora de placas de KiCad
Name[fi]=KiCad Laskintyökalut
Name[fr]=Calculateur pour PCB KiCad
Name[id]=Kalkulator PCB KiCad
Name[it]=Calcolatrice per C.S. KiCad
Name[ja]=KiCad PCB 計算機
Name[ko]=KiCad PCB 계산기
Name[nl]=KiCad PCB-calculator
Name[pl]=Kalkulator PCB programu KiCad
Name[pt]=Calculadora PCI do KiCad
Name[pt_br]=Calculadora PCI do KiCad
Name[ru]=Калькулятор печатных плат KiCad
Name[sr]=KiCad PCB дигитрон
Name[sv]=KiCad Beräkningsverktyg
Name[th]=เครื่องคิดเลขพีซีบีของ KiCad
Name[tr]=KiCad PCB Hesaplayıcı
Name[uk]=Калькулятор для друкованих плат KiCad
Name[zh_CN]=KiCad PCB 计算器
Name[zh_TW]=KiCad PCB 計算器
Name=KiCad PCB Calculator
Keywords=PCB;Caculator;
GenericName[ca]=Calculadora PCB
GenericName[cs]=Kalkulátor DPS
GenericName[da]=PCB-lommeregner
GenericName[de]=PCB-Rechner
GenericName[el]=Εκτέλεση PCB Calculator
GenericName[en]=PCB Calculator
GenericName[es]=Calculadora de placas
GenericName[es_MX]=Calculadora de placas
GenericName[fi]=Laskintyökalut
GenericName[fr]=PCB Calculator
GenericName[it]=Calcolatrice C. S.
GenericName[ja]=PCB 電卓
GenericName[ko]=PCB 계산기
GenericName[lt]=PCB Skaičiuoklė
GenericName[nl]=PCB-rekenmachine
GenericName[no]=PCB-kalkulator
GenericName[pl]=Kalkulator PCB
GenericName[pt]=Calculadora de PCI
GenericName[pt_br]=Calculadora da PCI
GenericName[ru]=PCB Calculator
GenericName[sk]=PCB kalkulačka
GenericName[sr]=PCB дигитрон
GenericName[sv]=KiCad Beräkningsverktyg
GenericName[th]=เครื่องคิดเลขพีซีบี
GenericName[uk]=Калькулятор друкованих плат
GenericName[zh_CN]=PCB 计算器
GenericName[zh_TW]=PCB 計算器
GenericName=PCB Calculator
Comment[cs]=Kalkulačka pro různé výpočty související s elektronikou
Comment[de]=Rechner für verschiedene elektronikbezogene Berechnungen
Comment[el]=Αριθμομηχανή για διάφορους υπολογισμούς σχετιζόμενους με την ηλεκτρονική
Comment[en]=Calculator for various electronics-related computations
Comment[es]=Calculadora para varios cálculos relacionados con la electrónica
Comment[es_MX]=Calculadora para varios cálculos relacionados con la electrónica
Comment[fi]=Laskin erilaisiin elektroniikkaan liittyviin laskelmiin
Comment[fr]=Calculatrice pour divers calculs liés à l’électronique
Comment[id]=Kalkulator untuk komputasi berbagai bidang seputar elektronik
Comment[it]=Calcolatrice per vari calcoli relativi ai circuiti elettrici
Comment[ja]=様々な電気関係の計算用ツール
Comment[ko]=여러 전자 관련 계산을 위한 계산기
Comment[nl]=Calculator voor verscheidene elektronica berekeningen
Comment[pl]=Kalkulator do różnych obliczeń związanych z elektroniką
Comment[pt]=Calculadora para vários cálculos relacionados à eletrônica
Comment[pt_br]=Calculadora para vários cálculos relacionados à eletrônica
Comment[ru]=Калькулятор для вычисления различных электрических параметров
Comment[sv]=Kalkylator för elektronikrelaterade beräkningar
Comment[th]=เครื่องคิดเลขสำหรับการคำนวณที่เกี่ยวข้องกับอิเล็กทรอนิกส์ต่างๆ
Comment[tr]=Elektronikle ilgili çeşitli hesaplamalar için hesap makinesi
Comment[uk]=Калькулятор для різних обчислень, пов'язаних з проектуванням електроніки
Comment[zh_CN]=用于各种电子相关计算的计算器
Comment[zh_TW]=用於各種電子相關計算的計算器
Comment=Calculator for various electronics-related computations
X-AppStream-Ignore=true
