[Desktop Entry]
Version=1.0
Terminal=false
Icon=gerbview
Type=Application
Categories=Science;Electronics;
Exec=gerbview %F
StartupWMClass=gerbview
MimeType=application/x-gerber;application/x-excellon;application/x-gerber-job
Name[ca]=Visor Gerber de KiCad
Name[cs]=KiCad prohlížeč gerber
Name[de]=KiCad Gerber-Betrachter
Name[el]=Πρόγραμμα Προβολής Αρχείων Gerber
Name[en]=KiCad Gerber Viewer
Name[es]=Visor Gerber de KiCad
Name[es_MX]=Visor Gerber de KiCad
Name[fi]=KiCad Gerber-katseluohjelma
Name[fr]=Visualisateur Gerber KiCad
Name[it]=Visualizzatore Gerber KiCad
Name[ja]=KiCad ガーバー ビューアー
Name[ko]=KiCad 거버 뷰어
Name[nl]=KiCad Gerber viewer
Name[pl]=Przeglądarka plików Gerber programu KiCad
Name[pt]=Visualizador do KiCad Gerber
Name[pt_br]=Visualizador do KiCad Gerber
Name[ru]=Просмотр Gerber-файлов KiCad
Name[sv]=KiCad Gerber-visare
Name[th]=โปรแกรมดูเกอร์เบอร์ KiCad
Name[tr]=KiCad Gerber Görüntüleyici
Name[uk]=Перегляд KiCad Gerber файлів
Name[zh_CN]=KiCad Gerber 文件查看器
Name[zh_TW]=KiCad Gerber 檔案檢視器
Name=KiCad Gerber Viewer
GenericName[cs]=Prohlížeč gerber souboru
GenericName[de]=Gerber-Datei-Betrachter
GenericName[el]=Πρόγραμμα Προβολής Αρχείων Gerber
GenericName[en]=Gerber File Viewer
GenericName[es]=Visor de archivos Gerber
GenericName[es_MX]=Visor de archivos Gerber
GenericName[fi]=Gerber Tiedostokatselin
GenericName[fr]=Visionneuse de fichiers Gerber
GenericName[id]=Penampil Berkas Gerber
GenericName[it]=Visualizzatore file Gerber
GenericName[ja]=ガーバー ファイル ビューアー
GenericName[ko]=거버 파일 뷰어
GenericName[nl]=Gerber Bestand viewer
GenericName[pl]=Przeglądarka plików Gerber
GenericName[pt]=Visualizador de arquivo Gerber
GenericName[pt_br]=Visualizador de arquivo Gerber
GenericName[ru]=Просмотр Gerber-файлов
GenericName[sv]=Gerberfil-visare
GenericName[th]=โปรแกรมดูไฟล์เกอร์เบอร์
GenericName[tr]=Gerber Dosyası Görüntüleyici
GenericName[uk]=Переглядач Gerber файлів
GenericName[zh_CN]=Gerber 文件查看器
GenericName[zh_TW]=Gerber 檔案檢視器
GenericName=Gerber File Viewer
Comment[cs]=Zobrazit soubory Gerber
Comment[de]=Gerber-Dateien betrachten
Comment[el]=Προβολή αρχείων Gerber
Comment[en]=View Gerber files
Comment[es]=Ver archivos Gerber
Comment[es_MX]=Ver archivos Gerber
Comment[fi]=Näytä Gerber tiedostot
Comment[fr]=Visualiser fichiers Gerber
Comment[id]=Tampilkan berkas Gerber
Comment[it]=Visualizza file Gerber
Comment[ja]=ガーバー ファイルの閲覧
Comment[ko]=거버 파일 보기
Comment[nl]=Bekijk Gerber-bestanden
Comment[pl]=Przeglądanie plików Gerber
Comment[pt]=Ver arquivos Gerber
Comment[pt_br]=Ver arquivos Gerber
Comment[ru]=Просмотреть Gerber-файлы
Comment[sv]=Visa Gerberfiler
Comment[th]=ดูไฟล์เกอร์เบอร์
Comment[tr]=Gerber dosyalarını görüntüleyin
Comment[uk]=Перегляд Gerber файлів
Comment[zh_CN]=查看 Gerber 文件
Comment[zh_TW]=檢視 Gerber 檔案
Comment=View Gerber files
Keywords=PCB;Gerber
X-AppStream-Ignore=true
