[Desktop Entry]
Version=1.0
Terminal=false
Icon=eeschema
Type=Application
Categories=Science;Electronics;
Exec=eeschema %f
StartupWMClass=eeschema
MimeType=application/x-kicad-schematic;
Name[cs]=KiCad editor schémat (Samostatně)
Name[de]=KiCad Schaltplaneditor (eigenständig)
Name[el]=Επεξεργαστής Σχηματικού KiCad
Name[en]=KiCad Schematic Editor (Standalone)
Name[es]=Editor de esquemas de KiCad (independiente)
Name[es_MX]=Editor de esquemas de KiCad (independiente)
Name[fi]=KiCad Kytkentäkaavioeditori (Itsenäinen)
Name[fr]=Editeur de Schématique KiCad (indépendant).
Name[id]=Editor Skematik KiCad (Standalone)
Name[it]=Editor degli schemi KiCad (autonomo)
Name[ja]=KiCad 回路図エディター (スタンドアロン)
Name[ko]=KiCad 회로도 편집기 (스탠드얼론)
Name[nl]=KiCad schema editor
Name[pl]=Edytor Schematów programu KiCad (Tryb samodzielny)
Name[pt]=Editor de esquemas do KiCad (independente)
Name[pt_br]=Editor de esquemas do KiCad (independente)
Name[ru]=Редактор схем KiCad (автономно)
Name[sv]=KiCad kretsschemaredigerare (fristående)
Name[th]=เครื่องมือแก้ไขวงจร KiCad (ทำงานเดี่ยว)
Name[tr]=KiCad Şematik Düzenleyicisi (Bağımsız)
Name[uk]=KiCad редактор схем (стандартний)
Name[zh_CN]=KiCad 原理图编辑器 (独立版)
Name[zh_TW]=KiCad 原理圖編輯器 (獨立版)
Name=KiCad Schematic Editor (Standalone)
GenericName[cs]=Schematický nástroj pro zachycení
GenericName[de]=Werkzeug zur Schaltplanerfassung
GenericName[el]=Χρώμα σύρματος σχηματικού
GenericName[en]=Schematic Capture Tool
GenericName[es]=Herramienta de captura de esquema
GenericName[es_MX]=Herramienta de captura de esquema
GenericName[fi]=Kytkentäkaavion Kaappaustyökalu
GenericName[fr]=Outil de Capture Schématique
GenericName[id]=Alat Tangkap Skematik
GenericName[it]=Strumento di disegno elettrico
GenericName[ja]=回路図キャプチャーツール
GenericName[ko]=회로도 캡쳐 도구
GenericName[nl]=Schema tekenen
GenericName[pl]=Narzędzie do tworzenia schematów
GenericName[pt]=Ferramenta de captura do esquema
GenericName[pt_br]=Ferramenta de captura do esquema
GenericName[ru]=Редактор электрических схем
GenericName[sv]=Kretsschemaredigerare
GenericName[th]=เครื่องมือจับภาพวงจร
GenericName[tr]=Şematik Çizim Aracı
GenericName[uk]=Інструмент створення схем
GenericName[zh_CN]=原理图捕获工具
GenericName[zh_TW]=原理圖捕獲工具
GenericName=Schematic Capture Tool
Comment[cs]=Samostatný editor schémat pro KiCad schémata
Comment[de]=Eigenständiger Schaltplaneditor für KiCad-Schaltpläne
Comment[el]=Αυτόνομος επεξεργαστής σχηματικού για σχηματικά KiCad
Comment[en]=Standalone schematic editor for KiCad schematics
Comment[es]=Editor de esquemas independiente para esquemas de KiCad
Comment[es_MX]=Editor de esquemas independiente para esquemas de KiCad
Comment[fi]=Itsenäinen kytkentäkaavioeditori KiCad kytkentäkaavioille
Comment[fr]=Editeur de schématique indépendant pour les schémas KiCad
Comment[id]=Editor skematik standalone untuk skematik KiCad
Comment[it]=Editor di schemi elettrici indipendente di KiCad
Comment[ja]=KiCad回路図のスタンドアロンの回路図エディター
Comment[ko]=KiCad 회로도용 스탠드얼론 회로도 편집기
Comment[nl]=Standalone editor om KiCad schema's te tekenen
Comment[pl]=Samodzielny edytor schematów przeznaczony do rysowania schematu w programie KiCad
Comment[pt]=Editor autônomo de esquemas para os esquemas do KiCad
Comment[pt_br]=Editor autônomo de esquemas para os esquemas do KiCad
Comment[ru]=Редактирование электрических схем KiCad в автономном режиме
Comment[sv]=Fristående kretsschemaredigerare för KiCad kretsscheman
Comment[th]=ตัวแก้ไขแผนผังวงจรแบบโดดเดี่ยว สำหรับวงจร KiCad
Comment[uk]=Редактор схем KiCad в автономном режимі
Comment[zh_CN]=KiCad 原理图的独立编辑器
Comment[zh_TW]=KiCad 原理圖的獨立編輯器
Comment=Standalone schematic editor for KiCad schematics
Keywords[cs]=eeschema
Keywords[de]=eeschema
Keywords[el]=Eeschema
Keywords[en]=eeschema
Keywords[es]=eeschema
Keywords[es_MX]=eeschema
Keywords[et]=eeschema
Keywords[fi]=eeskeema
Keywords[fr]=eeschema
Keywords[id]=eeschema
Keywords[it]=eeschema
Keywords[ja]=eeschema
Keywords[ko]=eeschema
Keywords[nl]=Eeschema
Keywords[pl]=eeschema
Keywords[pt]=eeschema
Keywords[pt_br]=eeschema
Keywords[ru]=eeschema
Keywords[sr]=еeschema
Keywords[sv]=eeschema
Keywords[th]=Eeschema
Keywords[tr]=eeschema
Keywords[uk]=eeschema
Keywords[zh_CN]=eeschema
Keywords[zh_TW]=eeschema
Keywords=eeschema
X-AppStream-Ignore=true
