[Desktop Entry]
Version=1.0
Terminal=false
Keywords=PCB;Circuit;Layout;Design;Editor;Footprint;
Icon=pcbnew
Type=Application
Categories=Science;Electronics;
Exec=pcbnew %f
StartupWMClass=pcbnew
MimeType=application/x-kicad-pcb;
Name[cs]=KiCad DPS editor (Samostatně)
Name[de]=KiCad Leiterplatteneditor (eigenständig)
Name[el]=Επεξεργαστής Σχεδίασης PCB
Name[en]=KiCad PCB Editor (Standalone)
Name[es]=Editor de placas de KiCad (independiente)
Name[es_MX]=Editor de placas de KiCad (independiente)
Name[fi]=KiCad Piirilevyeditori (Itsenäinen)
Name[fr]=Editeur de PCB KiCad (indépendant)
Name[id]=Editor PCB KiCad (Standalone)
Name[it]=Editor di C.S. KiCad (autonomo)
Name[ja]=KiCad PCBエディター (スタンドアロン)
Name[ko]=KiCad PCB 편집기 (독립실행)
Name[nl]=Over naar KiCad PCB Editor (Standalone)
Name[pl]=Edytor obwodów drukowanych programu KiCad (Tryb samodzielny)
Name[pt]=Editor de PCI do KiCad (autônomo)
Name[pt_br]=Editor de PCI do KiCad (autônomo)
Name[ru]=Редактор печатных плат KiCad (автономно)
Name[sv]=KiCad mönsterkortsredigerare (fristående)
Name[th]=เครื่องมือแก้ไขพีซีบี KiCad (โดดเดี่ยว)
Name[tr]=KiCad PCB Editörü (Bağımsız)
Name[uk]=KiCad редактор друкованих плат (Автономний)
Name[zh_CN]=KiCad PCB 编辑器 (独立版)
Name[zh_TW]=KiCad PCB 編輯器 (獨立版)
Name=KiCad PCB Editor (Standalone)
GenericName[cs]=Editor návrhu DPS
GenericName[de]=Leiterplatten-Layout-Editor
GenericName[el]=Επεξεργαστής Σχεδίασης PCB
GenericName[en]=PCB layout editor
GenericName[es]=Editor de placas
GenericName[es_MX]=Editor de placas
GenericName[fi]=Piirilevyeditori
GenericName[fr]=Éditeur de circuit imprimé
GenericName[id]=Editor tata letak PCB
GenericName[it]=Progettazione C.S.
GenericName[ja]=基板レイアウト エディター
GenericName[ko]=PCB 레이아웃 편집기
GenericName[nl]=Editor voor printplaat ontwerp
GenericName[pl]=Edytor PCB
GenericName[pt]=Editor de layout da PCI
GenericName[pt_br]=Editor de layout da PCI
GenericName[ru]=Редактор печатных плат
GenericName[sv]=Mönsterkortsredigerare
GenericName[th]=เครื่องมือออกแบบพีซีบี
GenericName[tr]=PCB düzenleme editörü
GenericName[uk]=Редактор шарів друкованих плат
GenericName[zh_CN]=PCB 布局编辑器
GenericName[zh_TW]=PCB 佈局編輯器
GenericName=PCB layout editor
Comment[cs]=Samostatný editor desky pro KiCad desky
Comment[de]=Eigenständiger Leiterplatteneditor für KiCad-Platinen
Comment[el]=Αυτόνομος επεξεργαστής κυκλωμάτων για πλακέτες KiCad
Comment[en]=Standalone circuit board editor for KiCad boards
Comment[es]=Editor de placas independiente para placas de KiCad
Comment[es_MX]=Editor de placas independiente para placas de KiCad
Comment[fi]=Itsenäinen piirilevyeditori KiCad alustoille
Comment[fr]=Éditeur indépendant de circuits imprimés pour les C.I. KiCad
Comment[it]=Editor di C.S. autonomo di KiCad
Comment[ja]=KiCad基板のPCBエディター(スタンドアロン)
Comment[ko]=KiCad 기판을 위한 스탠드얼론 회로 기판 편집기
Comment[nl]=Standalone schema editor voor KiCad printplaten
Comment[pl]=Samodzielny edytor obwodów drukowanych dla płytek tworzonych przez program KiCad
Comment[pt]=Editor de placa de circuito independente para placas KiCad
Comment[pt_br]=Editor de placa de circuito independente para placas KiCad
Comment[ru]=Редактирование печатных плат KiCad в автономном режиме
Comment[sv]=Fristående mönsterkortsredigerare för KiCad-mönsterkort
Comment[th]=เครื่องมือแก้ไขวงจรพิมพ์สำหรับบอร์ด KiCad
Comment[tr]=KiCad kartları için bağımsız devre kartı editörü
Comment[uk]=Автономний редактор схем для KiCad друкованих плат
Comment[zh_CN]=KiCad 电路板的独立编辑器
Comment[zh_TW]=KiCad 電路板的獨立編輯器
Comment=Standalone circuit board editor for KiCad boards
X-AppStream-Ignore=true
