[Desktop Entry]
Version=1.0
Name=Alternatives Configurator
Name[cs]=Nastavení alternativ
Name[da]=Alternativer-konfigurator
Name[de]=Alternativeneinrichter
Name[es]=Configurador de alternativas
Name[fr]=Configurateur d'alternatives
Name[nl]=Alternatievenconfigurator
Name[pt_BR]=Configurador de Alternativas
Name[sv]=Alternativkonfiguratorn
Name[tr]=Alternatif Yapılandırıcılar
Name[zh_CN]=可选项配置工具
Name[zh_TW]=可選項配置工具
Comment=Configure the system default alternatives
Comment[cs]=Nastavit výchozí alternativy pro celý systém
Comment[da]=Konfigurer systemets standardalternativer
Comment[de]=die Standard-Alternativen des Systems einrichten
Comment[es]=Configurar las alternativas por defecto del sistema
Comment[fr]=Configuration des alternatives par défaut du système
Comment[nl]=De standaardalternatieven van het systeem configureren
Comment[pt_BR]=Configure as alternativas padrão do sistema
Comment[sv]=Konfigurera systemets standardalternativ
Comment[tr]=Sistem varsayılan seçeneklerini yapılandır
Comment[zh_CN]=配置系统可选项的默认值
Comment[zh_TW]=配置系統可選項的預設值
Keywords=Alternatives;GAlternatives;Debian;
Keywords[cs]=Alternativy;GAlternatives;Debian;
Keywords[da]=Alternativer;GAlternatives;Debian;
Keywords[de]=Alternativen;GAlternatives;Debian;
Keywords[nl]=Alternatives;GAlternatives;Debian;
Keywords[tr]=Alternatifler;GAlternatives;Debian;
Keywords[zh_CN]=可选项;配置;Debian;
Keywords[zh_TW]=可選項;配置;Debian;
Type=Application
Exec=/usr/bin/galternatives
Icon=galternatives
Terminal=false
Categories=Settings;GTK;System;
StartupNotify=true
