#!/usr/bin/env xdg-open
[Desktop Entry]
Name=WebStorm
Comment=WebStorm
Type=Application
Exec=sh -c "/opt/WebStorm/bin/webstorm.sh"
Icon=/opt/WebStorm/bin/webstorm.png
StartupNotify=false
Terminal=false 
Encoding=UTF-8
Categories=14-development-tools;

